<section class="box">
	<h2>Liens</h2>
	<ul>
		<li><a href="/cam">Caméras</a></li>
		<li><a href="/mic">Microphones</a></li>
		<li><a href="/map">Carte</a></li>
		<li><a href="/data">Métadonnées</a></li>
	</ul>

	<hr>

	<a href="mailto:contact@minarox.fr">Contact</a>
	<p>
		&copy; <span id="current-year"></span> &nbsp;|&nbsp;
		<a href="/">racecast.minarox.fr</a>
	</p>
</section>

<script>
	const currentYearSpan = document.getElementById("current-year")!
	currentYearSpan.innerText = new Date().getFullYear().toString()
</script>

<style>
	section {
		> h2 {
			margin-bottom: 0.4rem;
		}

		li {
			margin-left: 1.2rem;
			margin-bottom: 0.2rem;
		}

		> hr {
			margin: 1rem 0;
			border: none;
			border-top: 1px solid black;
		}

		> a {
			display: block;
			font-size: 0.9rem;
			text-align: center;
		}

		> p {
			font-size: 0.8rem;
			margin-top: 0.4rem;
			text-align: center;
		}
	}
</style>
