name: Building website

on:
    pull_request

env:
    ASTRO_TELEMETRY_DISABLED: 1

permissions:
    contents: read
    pull-requests: write

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    build:
        name: Build
        runs-on: ubuntu-latest

        steps:
            - name: Checkout project
              uses: actions/checkout@v6
              with:
                fetch-depth: 1

            - name: Install Bun
              uses: oven-sh/setup-bun@v2
              with:
                bun-version: latest

            - name: Setup Node
              uses: actions/setup-node@v6
              with:
                node-version: 20

            - name: Install dependencies
              run: bun install

            - name: Check types
              run: bun run check

            - name: Build website
              run: bun run build
